# NGC 5

## Task
You are asked to create a customer and order table as follows "Customers" and "Orders". Determine the right datatype to create the two tables.

Here are the structures and data for both tables:

**Table 1**

<img width="657" alt="image" src="ngc-05-table1.png">

**Table 2**

<img width="583" alt="image" src="ngc-05-table2.png">

Once you have successfully created both tables, create a query to retrieve the total number of orders made by each customer along with the customer name from the "Customers" and "Orders" tables.

**Expected Output:**

<img width="400" alt="image" src="ngc-05-output.png">

## Answer

In [ ]:
-- Membuat tabel customers
create table "Customers" ( 
	customer_id int primary key,
	customer_name varchar,
	city varchar
);

-- Membuat tabel "Orders"
create table "Orders" (
	order_id int primary key,
	customer_id int,
	foreign key (customer_id) references "Customers"(customer_id),
	order_date date,
	total_amount float
);



-- Insert values tabel customers
insert into "Customers" (customer_id, customer_name, city)
	values
		(1, 'John Doe', 'New York'),
		(2, 'Jane Smith', 'Los Angeles'),
		(3, 'David Johnson', 'Chicago');
		
-- Insert values tabel orders
insert into "Orders" (order_id, customer_id, order_date, total_amount)
	values
	(1, 1, '2022-01-10', 100.00),
	(2, 1, '2022-02-15', 150.00),
	(3, 2, '2022-03-20', 200.00),
	(4, 3, '2022-04-25', 50.00);


select * from "Customers"; --- display tabel customers
select * from "Orders"; --- display tabel orders

-- membuat tabel join untuk display hasil
select
	a.customer_name,
	count(b.order_id) as total_orders
from "Customers" as a
join "Orders" as b
on a.customer_id = b.customer_id
group by customer_name
order by total_orders desc, customer_name desc;